
:root {
    --primary-color: #0a2239;
    --secondary-color: #53a2be;
    --tertiary-color: #1d84b5;
}

body {
    background-color:white;
}

header a {
    text-decoration: none;
    color:white;
}

header {
    background-color:var(--secondary-color); 
    padding: 15px 15px;
    display: flex;
    font-family:'Cormorant Garamond', serif;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("./images/portfolio-hero.jpg") ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

h1 {
    padding: 5px;
}

.hero {
    background-image: url("./images/portfolio-hero.jpg") ;
    height: 500px;
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    background-attachment: fixed;
    background-position: 80%;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 26px;
}

nav div {
    padding: 20px;
}

nav div:hover {
    background: var(--tertiary-color);
    border-radius: 35px;
}

h1 a:hover {
    background: var(--tertiary-color);
    border-radius: 35px;
}

.container-1 {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    background-color: var(--secondary-color);
    padding: 20px;
    color: white;
    
}

.container-1 div {
    border-radius: 5px;
    box-shadow: 5px 10px 10px gray;
    padding: 10px;
    background-color:var(--tertiary-color);
    width: 300px;
   text-align: center;


}

.container-1 div:hover {
    box-shadow: 20px 30px 30px gray;
    
}













@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
       
    }

    nav div {
        text-align: center;
    }

    .container-1 {
        display: flex;
        flex-wrap:wrap;
        justify-content: space-between;
    }
    
}


