body {
    background-color: #559971;
}

header a {
    text-decoration: none;
    color: #ddc915;
}

header {
    background-color: rgb(163, 108, 163) ;
    padding: 20px 35px;
    display: flex;
    border-color:rgb(27, 121, 68);
    border-width: 5px;
    border-style:groove;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}

.hero {
    background-image: url("./images/portfolio-hero.jpg") ;
    height: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
    border-style:groove;
    border-color: rebeccapurple;
    border-width: 5px;
}

nav {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 26px;
    
}

nav div {
    padding: 20px;
}

.section div {
    color:#0c8055 ;
    background-color:#bfd0e0 ;
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;

}

.about-me {
    color: #450b53;
}

@media screen and (max-width:980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
}

